body {
    margin: 0;
}
h1 {
    font-family: 'Perandory', sans-serif;
    font-size: 80px;
    color: #fff1c5;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 1470px;
    background-color: #4a1525;
    padding-top:20px;
    border-bottom: 2.25px solid #fff1c5;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    display: flex;
    gap: 30px;
    padding-right: 20px;
    list-style: none;
}
.gifs {
    display: flex;

}
.soleil_container {
    position: relative;
}
.soleil_container img:last-child {
    position: absolute;
    top:0px;
    left:183.75px;
}
.venus_container {
    position: relative;
}
.venus_container img:last-child {
    position: absolute;
    top:0px;
    left:183.75px;
}
.shop {
    background-color:#062885;
    height: 500px;
}
.soleil {
    background-color:#9e1b32;
    height: 3120px;
    margin: 0px;
    width: 1470px;
}
.explore {
    background-color: #1d8506;
    height: 500px;
}
.profile {
    background-color: #8f05ff;
    height: 500px;
}
span {
    margin-bottom: 200px;
    font-family: 'fraunces', sans-serif;
    font-size: 50px;
    color: #fff1c5;
}
.soleil1 img{
    margin: 20px;
}
.soleil1 p{
    color: #fff1c5;
    font-family: 'fraunces', sans-serif;
    font-size: 18px;
    margin-left: 100px;
    margin-right: 100px;

}
.soleil1 {
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
}
.soleilButtons {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}
.soleilButtons :last-child{
  margin-top: 20px;
}
.ticker {
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}
.ticker-track {
    display: inline-block;
    animation: scroll-left 15s linear infinite;
}
@keyframes scroll-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}