body {
    margin: 0;
}
h1 {
    font-family: 'Perandory', sans-serif;
    font-size: 80px;
    color: #fff1c5;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 1470px;
    background-color: #4a1525;
    padding-top:20px;
    border-bottom: 2.25px solid #fff1c5;
}
ul {
    display: flex;
    gap: 30px;
    padding-right: 20px;
    list-style: none;
}
.gifs {
    display: flex;

}
.soleil_container {
    position: relative;
}
.soleil_container img:last-child {
    position: absolute;
    top:0px;
    left:183.75px;
}
.venus_container {
    position: relative;
}
.venus_container img:last-child {
    position: absolute;
    top:0px;
    left:183.75px;
}
.shop {
    background-color: #9e1b32;
    height: 500px;
}
.soleil {
    background-color: #062885;
    height: 500px;
}
.explore {
    background-color: #1d8506;
    height: 500px;
}
.profile {
    background-color: #8f05ff;
    height: 500px;
}